#popup, #payment, #orders {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.window-content {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: var(--white);
    justify-content: space-between;
    border-radius: 5px;
    gap: 100px;
}
.orders-table {
    display: flex;
    gap: 16px;
}
.orders-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: var(--white);
    justify-content: space-between;
    border-radius: 5px;
    gap: 16px;
}
.orders-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.payment-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: var(--white);
    border-radius: 5px;
}
.payment-content h3, input[name="tarif"] {
    font-weight: 600;
}
.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}
h3 {
    margin-bottom: 16px;
}
input {
    font-size: var(--p);
}
.window-content button {
    background-color: var(--dark-gray);
    color: var(--white);
    font-weight: var(--bold);
}
.login-content button {
    background-color: var(--orange);
    font-size: var(--p);
}
.username {
    margin-bottom: 20px;
}
.password {
    margin-bottom: 30px;
}
.username input, .password input, input[type="email"] {
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: 11px 15px;
    font-size: var(--p);
}
input[type="email"] {
    margin-bottom: 30px;
    width: 330px;
}
input[name="tarif"] {
    color: var(--black);
    font-size: var(--h3);
}
input[type=submit] {
    background-color: var(--dark-gray);
    color: var(--white);
    font-size: var(--p);
}