:root {
    --black: #252422;
    --dark-gray: #303030;
    --white: white;
    --orange: #F87C4C;
    --bold: 500;
    --h1: 54px;
    --h2: 38px;
    --h3: 26px;
    --p: 18px;
    --small: 16px;
    --vertical-gap: 205px;
}
section, header {
    margin-bottom: var(--vertical-gap);
}
h1 {
    color: var(--black);
    font-size: var(--h1);
}
h2 {
    color: var(--black);
    font-size: var(--h2);
}
h3 {
    color: var(--black);
    font-size: var(--h3);
}
small {
    font-size: var(--small);
    font-weight: 400;
}
button {
    border-radius: 5px;
    padding: 11px 15px;
}
button a {
    font-weight: var(--bold);
}
a, a:link {
    color: var(--black);
    font-size: var(--p);
}
body {
    font-family: "Rubik", sans-serif;
    font-weight: var(--bold);
}
.body-wrapper {
    display: flex;
    width: 1620px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto 60px;
}
header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: inherit;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    max-width: 1010px;
}
.virtual-servers {
    display: flex;
    align-items: center;
}
.virtual-servers img {
    margin-left: 10px;
}
.header-account {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    margin-right: 50px;
}
.register {
    background-color: var(--orange);
}
.register a {
    color: var(--white);
}
.cloud-block, .tarif-block, .support-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
}
.cloud-title, .tarif-title, .support-title {
    margin-bottom: 50px;
}
.cloud-button button {
    padding: 16px 15px;
    background-color: var(--orange);
}
.cloud-button a, .tarif-button button a, .support-description button a {
    color: var(--white);
}
.tarif-content, .support-content {
    width: inherit;
}
.tarif-text {
    margin-bottom: 30px;
}
.tarif, .support-description {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.tarif-list, .support-list {
    display: flex;
    justify-content: space-between;
}
.tarif-prices {
    width: 450px;
}
.tarif-item, .tarif-config {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tarif-config {
    gap: 10px;
    font-weight: 400;
}
.tarif-button button{
    background-color: var(--dark-gray);
}
.support-description button {
    background-color: var(--orange);
}
footer {
    display: flex;
    width: inherit;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: inherit;
}
.footer-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.socials {
    display: flex;
    gap: 16px;
}